/* Hero Slider Styles */
.hero-slider {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  /* margin-bottom: 40px; */
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.slider-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0;
}

.slider-dot:hover {
  background: rgba(255, 255, 255, 0.5);
}

.slider-dot.active {
  background: #fff;
  width: 30px;
  border-radius: 6px;
}

/* Responsive */

@media (max-width: 1024px) {
  .hero-slider {
    height: 450px;
    margin-bottom: -30px;
  }

  .slide {
    background-size: 100% auto;
    background-position: center top;
  }

  .slider-controls {
    bottom: 40px;
  }

  .slider-dot {
    width: 10px;
    height: 10px;
  }

  .slider-dot.active {
    width: 25px;
  }
}


@media (max-width: 768px) {
  .hero-slider {
    height: 450px;
    margin-bottom: -120px;
  }

  .slide {
    background-size: 100% auto;
    background-position: center top;
  }

  .slider-controls {
    bottom: 150px;
  }

  .slider-dot {
    width: 10px;
    height: 10px;
  }

  .slider-dot.active {
    width: 25px;
  }
}

/* @media (max-width: 640px) {
  .hero-slider {
    height: 420px;
    margin-bottom: -190px;
  }

  .slide {
    background-size: 100% auto;
    background-position: center top;
  }

  .slider-controls {
    bottom: 15px;
  }
} */

@media (max-width: 480px) {
  .hero-slider {
    height: 400px;
    min-height: 400px;
    margin-bottom: -220px;
  }

  .slide {
    background-size: 100% auto;
    background-position: center top;
  }

  .slider-controls {
    bottom: 230px;
    gap: 8px;
  }

  .slider-dot {
    width: 8px;
    height: 8px;
    border-width: 1.5px;
  }

  .slider-dot.active {
    width: 20px;
  }
}

@media (max-width: 360px) {
  .hero-slider {
    height: 350px;
    min-height: 350px;
    margin-bottom: -220px;
  }

  .slide {
    background-size: 100% auto;
    background-position: center top;
  }

  .slider-controls {
    bottom: 220px;
  }
}

